#contact {
  position:relative;
  width: min(65ch, 90vw);
  animation:animatecontact 1s
}

#contact-form {
  display: grid;
  grid-template-columns: auto;
}

#submitbtn {
  background-color: white;

}

input {
  margin-bottom: 10px
}

textarea {
  height: 90px;
  margin-bottom: 20px
}
