.App {
  text-align: center;
  height: 100vh;
  margin: auto;
  display: grid;
  grid-template-rows:auto 1fr auto;
}

.content {
  text-align: left;

  margin: auto;
  overflow: scroll
}

@media only screen and (min-width: 720px) {
  .content {
    width: 65ch
  }
}

@keyframes animatecontact{
  from{opacity:0} 
  to{opacity:1}
}

@media only screen and (max-width: 780px) {
  .App {
    width: 95vw
  }
}
