.App {
  text-align: center;
  height: 100vh;
  margin: auto;
  display: grid;
  grid-template-rows:auto 1fr auto;
}

#main {
  text-align: left;
  overflow: scroll;
  display: grid;
  align-content: center;
  justify-content: center;
}

.content {
  max-width: 65ch
}

@media only screen and (max-height: 720px) {
  #main {
    margin-top: 20px;
    align-content: start;
  }
}

@keyframes animatecontact{
  from{opacity:0} 
  to{opacity:1}
}

@media only screen and (max-width: 780px) {
  .App {
    width: 95vw
  }
}
