.App {
  text-align: center;
  height: 100vh;
  margin: auto;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

#main::-webkit-scrollbar {
  display: none !important;
}

#main {
  text-align: left;
  overflow: scroll;
  display: grid;
  align-content: center;
  justify-content: center;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.content {
  width: min(65ch, 85vw);
  position: relative;
  background-color: black;
  padding: 10px;
  border-radius: 1rem;
}

.content::before, .content::after {
  content: "";
  position: absolute;
  inset: -2px;
  background: conic-gradient(
    from var(--gradient-angle),
    var(--pink),
    var(--magenta),
    var(--darkblue),
    var(--pink));
  border-radius: inherit;
  /* animation: animate-contact 1s; */
  animation: rotation 5s linear infinite;
  z-index: -1
}

.content::after {
  filter: blur(2rem)
}


@property --gradient-angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false
}

@keyframes rotation {
  0% {
    --gradient-angle: 0deg;
  }

  100% {
    --gradient-angle: 360deg;
  }
}

:root {
  --pink: #fc3dec;
  --magenta: #f0138c;
  --elecblue: #00aaff;
  --darkblue: #4e35db;
}


@media only screen and (max-height: 720px) {
  #main {
    margin-top: 20px;
    /* align-content: start; */
  }
}

@keyframes animatecontact {
  from {
    opacity: 0
  }

  to {
    opacity: 1
  }
}

@media only screen and (max-width: 780px) {
  .App {
    width: 100vw;
    height: 90vh;
  }
  .content {
    max-width: 50ch
  }
}