.nav {
  height: 40px;
  display: inline-grid;
  grid-template-columns: repeat(3, clamp(100px, 10vw, 150px));
  align-items: center;
  justify-content: center;
}

@media only screen and (min-width: 600px) {

}
